<ng-content></ng-content>

<div class="menu-container">
    <dx-tree-view
    expandEvent="click"
    width="100%"
    [items]="items"
    (onInitialized)="onMenuInitialized($event)"
    (onItemClick)="onItemClick($event)"
    (onContentReady)="updateSelection($event)"
    (onSelectionChanged)="updateSelection($event)"
    [selectByClick]="true"
    selectionMode="single"
    [searchEnabled]="false"
    searchMode="contains">
    </dx-tree-view>
    <!-- <dx-tree-view
        [items]="items"
        keyExpr="path"
        selectionMode="single"
        [focusStateEnabled]="false"
        expandEvent="click"
        (onItemClick)="onItemClick($event)"
        width="100%">
    </dx-tree-view> -->
</div>
