<div class="headerWrapper content-block">
  <div class="container space">
    <h4 *ngIf="!hideNoContributionMadeForInvoiceBanner" style="color: #8f1414">
      <strong>Can not generate invoice, since no any members contributions have been made</strong> <a
        [routerLink]="membersContributionRouterLink"> click here</a> <strong> to start members contribution
        process.</strong>
    </h4>
    <div class="row d-flex justify-content-center">
      <div *ngIf="!hidePrintInvoiceButton" class="btn">
        <dx-button text="Print" icon="print" stylingMode="contained" type="default"
          (onClick)="printInvoiceReceiptNew()">
        </dx-button>
      </div>
      <div *ngIf="!hidePrintInvoiceButton" class="btn">
      <dx-button text="Print Members List" icon="print" stylingMode="contained" type="default"
        (onClick)="printMembersList()">
      </dx-button>
    </div>

      <div *ngIf="!hideGenerateControlNumberButton" class="btn">
        <dx-button text="Get control Number" icon="money" stylingMode="contained" type="success"
          (onClick)="onControlNumberGeneration()">
        </dx-button>
      </div>
    </div>
  </div>
</div>



<!-- FOR PRINTING LIST OF MEMBER -->
<div *ngIf="true">
  <div id="print-container3" style="display: none" class="invoice_wrapper">
    <div class="invoice">
      <div class="logo__block">
        <img src="./assets/img/zssf.png" alt="zssf logo" style="width: 70px; height: 70px;" />
        <p>Zanzibar Social Security Fund</p>
        <p>List of Members Contributed</p>
      </div>
      <div class="invoice__body" style="border: none;">
          <table class="table full_table">
            <thead>
              <tr>
                <th>Employer Number</th>
                <th>Employer Name</th>
                <th>Printed On</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>{{employerNumber}}</strong></td>
                <td><strong>{{employerName | titlecase}}</strong></td>
                <td><strong>{{now | date: "yyyy - MM -d h:mm:ss a"}}</strong></td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="invoice__body">
        <table class="full_table table">
          <thead>
            <tr>
              <th>Number</th>
              <th>Name</th>
              <th style="text-align: end;">Salary</th>
              <th>Year</th>
              <th>Month</th>
              <th style="text-align: end;">Amount</th>
              <th>Currency</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of contributedMembers">
              <td>{{item.memberNumber}}</td>
              <td>{{item.memberNames | titlecase }}</td>
              <td>
                <p style="text-align: end; color: #000;">
                  {{item.memberSalary | currency:'USD':''}}
                </p>
              </td>
              <td>
                <p style="text-align: end; color: #000;">
                  {{item.contributionYear }}
                </p>
              </td>
              <td>
                <p style="text-align: end; color: #000;">
                  {{item.contributionMonth }}
                </p>
              </td>
              <td>
                <p style="text-align: end; color: #000;">
                  {{item.amountContributed | currency:'USD':''}}
                </p>
              </td>
              <td><p style="text-align: center; color: #000;">TZS</p></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <hr> -->
      <!-- <p class="footer">Zanzibar Social Security Find &copy; {{currentYear}} All Rights Reserved (ZSSF)</p> -->
    </div>
  </div>
</div>




 <div class="container">
  <dx-scroll-view>
    <div id="print-container2" class="invoice_wrapper">
      <div class="main"  class="invoice_wrapper" >

        
    
        
          <div class="main">
            <div class="text-center"> <img style="height: 150px;" src="./assets/images/zssf.png"> </div>
            <div class="text-center" style="font-weight: bold;"> Zanzibar Social Security Fund </div>
            <div class="text-center" style="font-size: 1.3em;"> Bill Order Form</div>
            <div class="text-center"  style="  border-top: 1px dotted black; margin-top: 20px; margin-bottom: 20px;">  </div>
        
            <table class="tbtxt">
              <tr> <td>Control Number : </td> <td>{{zmControlNo}} </td></tr> 
              <tr> <td>ZSSF Ctrl No. : </td> <td>{{controlNumber}} </td></tr> 
              <tr> <td>Invoice No : </td> <td>{{invoiceNo}} </td></tr> 
              <tr> <td>SP Code : </td> <td>SP200013 </td></tr> 
              <tr> <td>Payer Name : </td> <td>{{payerName}} </td></tr> 
              <tr> <td>Payer Phone : </td> <td>{{payerMobile}} </td></tr> 
              <tr> <td>Bill Description : </td> <td>{{billDescription}} </td></tr> 
              <tr> <td>Bill Amount : </td> <td>{{BILLAMOUNT | number:'.2'}}</td></tr> 
              <tr> <td>Amount in Words : </td> <td>{{amountInWords}}</td></tr> 
              <tr> <td>Expires on : </td> <td>{{billExpireDate}}</td></tr> 
            </table>
            
            <div class="text-center" style="  border-top: 1px dotted black; margin-top: 20px; margin-bottom: 20px;">  </div>
            <!-- <div class="heading">Bill Items</div>
            <div class="text-center" style="  border-top: 1px dotted black; margin-top: 20px; margin-bottom: 20px;"></div>
        
            <table class="tbdtails " *ngFor="let item of invoiceBillItems">
              <tr> <td>200010</td> <td>Item Details 01</td><td>20,000.00</td></tr> 
              <tr> <td>200011</td> <td>Item Details 02</td><td>5,000.00</td></tr>
              <tr> <td></td> <td>Total</td><td >25,000.00</td></tr> 
            </table>
            <div class="text-center" style="  border-top: 1px dotted black; margin-top: 20px; margin-bottom: 20px;">  </div> -->
            <div class="heading">Bill Items</div>
            <div class="text-center" style=""> <hr> </div>
        
            <table class="tbdtails ">
              <tr *ngFor="let billItems of billItems"> <td>{{billItems.BILL_ID}}</td> <td>{{billItems.DESCRIPTION}}</td><td>{{billItems.AMOUNT | number:'.2'}}</td></tr> 
              
              <tr> <td></td> <td>Total</td><td >{{BILLAMOUNT | number:'.2'}}</td></tr> 
            </table>
            <div class="text-center" style="  border-top: 1px dotted black; margin-top: 20px; margin-bottom: 20px;">  </div>
        
            <table class="tbtxt"> 
              <tr> <td>Issued By : </td> <td>{{createdBy}}</td></tr> 
              <tr> <td>Issued on : </td> <td>{{todayDate | date: 'dd-mm-yyyy'}}</td></tr> 
              <tr> <td>Printed By : </td> <td>{{fname}} {{lname}}</td></tr> 
              <tr> <td>Printed on : </td> <td>{{todayDate | date: 'dd-mm-yyyy'}}</td></tr> 
              <tr> <td>Signature : </td> <td>...................</td></tr> 
            </table>
        
            <div class="pagebreak"> </div>
        
            <div class="heading">How to Pay</div>
            <div class="text-center" style="  border-top: 1px dotted black; margin-top: 20px; margin-bottom: 20px;">  </div>
            <p> <span style="font-weight:500">Via BANKS </span>: Visit any branch or bank agent of PBZ, CRDB, NBC or EQUITY</p>
            <p> <span style="font-weight:500">Via MNO's </span></p>
        
            <table class="tbmnos"> 
              <tr> 
                <td><p style="font-weight:500">TIGOPESA </p>
                  1. Piga *150*01#<br/>
                  2. Chagua namba (4) “Lipa Bili”<br/>
                  3. Chagua (5) “Malipo ya Serikali”<br/>
                  4. Ingiza namba ya kumbukumbu ya malipo (Control number)<br/>
                  5. Ingiza kiasi cha pesa unachotaka kulipa<br/>
                  6. Ingiza namba ya siri kuhakiki<br/>
                </td> 
                <td><p style="font-weight:500">M-PESA </p>
                  1. Piga *150*00#<br/>
                  2. Chagua namba (4) “Lipa kwa M-Pesa”<br/>
                  3. Chagua (5) “Malipo ya Serikali”<br/>
                  4. Chagua namba 1 Namba ya Malipo<br/>
                  6. Ingiza namba ya kumbukumbu ya malipo (Control Number)<br/>
                  7. Ingiza kiasi cha pesa unachotaka kulipa<br/>
                  8. Ingiza namba ya siri<br/>
                  9. Thibitisha kwa kuchagua (1)<br/>
                </td>
                <td><p style="font-weight:500">AIRTEL MONEY </p>
                  1. Piga *150*60#<br/>
                  2. Chagua namba (5) “Lipia Bili”<br/>
                  3. Chagua (5) “Malipo ya Serikali”<br/>
                  4. Chagua namba 1 “Weka namba ya kumbukumbu”<br/>
                  5. Ingiza namba ya kumbukumbu ya malipo (control number)<br/>
                  6. Ingiza kiasi cha pesa<br/>
                  7. Weka namba ya siri<br/>
        
                </td>
              </tr> 
              <tr> 
                <td><p style="font-weight:500">T-PESA </p>
                  Namna ya kulipia kwa T-Pesa<br/>
                  1. Piga *150*71#<br/>
                  2. Chagua namba (5) “Lipia Bili”<br/>
                  3. Chagua (3) “Malipo ya Serikali”<br/>
                  4. Ingiza kumbukumbu namba (control number)<br/>
                  5. Ingiza kiasi<br/>
                  6. Ingiza namba ya siri<br/>
                </td>
                <td><p style="font-weight:500">HALOPESA </p>
                  Namna ya kulipia kwa HaloPesa<br/>
                  1. Piga *150*88#<br/>
                  2. Chagua namba (5) lipia bili<br/>
                  3. Chagua (5) malipo ya serikali<br/>
                  4. Weka namba ya kumbukumbu ya malipo (control number)<br/>
                  5. Ingiza kiasi cha pesa<br/>
                  6. Weka namba ya siri<br/>
                </td>
              </tr> 
            </table>
          </div>
          
       </div>
    </div>
  </dx-scroll-view>
</div>
