<div class="content-block row">
    <div class="col">
      <div class="card card_border">
        <div class="card-header card_header_background">
          EMPLOYERS REPORT
        </div>
        <div class="card-body card-nopadding">
  
          <form [formGroup]="filterEmployerForm">
  
          
  
            <div class="row p-3">
             

        

              <div class="col-12 col-md-3">
                <label for="scope">Region</label>
                <dx-select-box
                id="scope"
                valueExpr="id"
                displayExpr="name"
                [searchEnabled]="true"
                formControlName="region"
                (onValueChanged)="filterDistricts($event)"
                [dataSource]="regionList"
                placeholder="Choose region">
              </dx-select-box>
              </div>

              <div class="col-12 col-md-3">
                <label for="scope">District</label>
                <dx-select-box
                id="scope"
                valueExpr="id"
                displayExpr="name"
                formControlName="district"
                [searchEnabled]="true"
                [dataSource]="districtListNew"
                placeholder="Choose district">
              </dx-select-box>
              </div>

              <div class="col-12 col-md-3">
                <label for="scope">Sector</label>
                <dx-select-box
                id="scope"
                valueExpr="id"
                displayExpr="name"
                formControlName="sector"
                [searchEnabled]="true"
                [dataSource]="sectorList"
                placeholder="Choose sector">
              </dx-select-box>
              </div>
  
              <div class="col-12 col-md-3">
                <label for="invoiceNo">Nature of business</label>
                <dx-select-box
                id="scope"
                valueExpr="NatureOfBusinessID"
                displayExpr="Description"
                formControlName="natureBusines"
                [searchEnabled]="true"
                [dataSource]="natureBusinessList"
                placeholder="Choose nature of business">
              </dx-select-box>
              
              </div>
  
     
  
              <div class="col-12 col-md-3 mt-2" style="padding-top: 15px;">
               
               
                <dx-button
                id="action"
                text="Search"
                type="default"
                [useSubmitBehavior]="false"
                (click)="filterEmployers()">
                </dx-button>
              </div>
            </div>
          </form>
  
          <div>
          
          </div>
  
        </div>
      </div>
    </div>
  </div>

<div class="headerWrapper">
  
   
  
  </div>
  <div class="row content-block">
    <div class="col">
      <div class="card card_border">
        <div class="card-header card_header_background">
         
        </div>
        <div class="card-body card-nopadding">
          <dx-data-grid
          [dataSource]="employerList"
          keyExpr="EmployerNumber"
          [showBorders]="true"
          [focusedRowEnabled]="true"
          [showRowLines] = "true"
          [allowColumnResizing]="true"
          [columnHidingEnabled]="false"
          [columnAutoWidth]="true"
         
          height="funcpopHeigt(datagridHeight)">
          <dxo-load-panel
          [enabled]="false">
         </dxo-load-panel>
          <dxo-export [enabled]="true" fileName="Service Providers" [allowExportSelectedData]="true"></dxo-export>
          <dxo-paging [pageSize]="pageSize"></dxo-paging>
          <dxo-load-panel [enabled]="true"></dxo-load-panel>
          <dxo-pager
          [showPageSizeSelector]="true"
          [allowedPageSizes]="allowedPageSises"
      ></dxo-pager>
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxo-filter-row [visible]="false"></dxo-filter-row>
  
          
  
    
      </dx-data-grid>
  
        </div>
      </div>
    </div>
  </div>