<div class="content-block row">
    <div class="col">
      <div class="card card_border">
        <div class="card-header card_header_background">
            SUSPENSE SUMMARY
        </div>
        <div class="card-body card-nopadding">
  
          <form [formGroup]="suspenseSummuryForm">
  
          
  
            <div class="row p-3">

                <div class="col-12 col-md-2">
                    <label for="controlNo">Quarter</label>
                    <dx-select-box
                      id="scope"
                      valueExpr="name"
                      displayExpr="name"
                      formControlName="qota"
                      [dataSource]="qotaList"
                      placeholder="Quarter">
                    </dx-select-box>
                  </div>

                  <div class="col-12 col-md-2">
                    <label for="controlNo">Year</label>
                    <dx-text-box id="controlNo"  placeholder="Year" (onValueChanged)="getFiscalYear($event)">
                    </dx-text-box>
                  </div>


                  <div class="col-12 col-md-2">
                    <label for="controlNo">Fiscal Year</label>
                    <dx-text-box id="controlNo" formControlName="fiscalYear" [(ngModel)]="year" [disabled]="true" placeholder="">
                    </dx-text-box>
                  </div>

                  <div class="">
                    <label for="controlNo">Cleared</label>
                    <!-- <dx-text-box id="controlNo" formControlName="fiscalYear" placeholder="">
                    </dx-text-box> -->

                    <div style="padding-top: 15px;">
                        <input type="checkbox" style="" [value]="" (change)="onCheckChange($event)" class="" id="exampleCheck1">
                    </div>
                  </div>

 
              <div class="col-12 col-md-3 mt-2" style="padding-top: 15px;">
               
               
                <dx-button
                id="action"
                text="Search"
                type="default"
                [useSubmitBehavior]="false"
                (click)="getSummury()">
                </dx-button>
              </div>
            </div>
          </form>
  
          <div>
          
          </div>
  
        </div>
      </div>
    </div>
  </div>

<div class="headerWrapper">
  
   
  
  </div>
  <div class="row content-block">
    <div class="col">
      <div class="card card_border">
        <div class="card-header card_header_background">
         
        </div>
        <div class="card-body card-nopadding">
          <dx-data-grid
          [dataSource]="summuryDatasource"
          keyExpr="SuspenseCounts"
          [showBorders]="true"
          [focusedRowEnabled]="true"
        
          [showRowLines] = "true"
          [allowColumnResizing]="true"
          [columnHidingEnabled]="false"
          [columnAutoWidth]="true"
         
          height="funcpopHeigt(datagridHeight)">
          <dxo-load-panel
          [enabled]="false">
         </dxo-load-panel>
          <dxo-export [enabled]="true" fileName="Summury" [allowExportSelectedData]="true"></dxo-export>
          <dxo-paging [pageSize]="pageSize"></dxo-paging>
          <dxo-load-panel [enabled]="true"></dxo-load-panel>
          <dxo-pager
          [showPageSizeSelector]="true"
          [allowedPageSizes]="allowedPageSises"
      ></dxo-pager>
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxo-filter-row [visible]="false"></dxo-filter-row>
      </dx-data-grid>
  
        </div>
      </div>
    </div>
  </div>