<div class="container-fluid mt-3">
    <div class="row mb-3">
      <div class="col">
        <div class="card card_border">
          <div class="card-header card_header_background">
            <h5>EMPLOYER REGISTRATION PERFORMANCE</h5>
          </div>
          <div class="card-body fix-side">
          

            <form [formGroup]="fetchForm"
            class="col-lg-12 div-nopadding"
            style="background: rgba(255, 255, 255, 0.7)">
              <div style="margin-left: 4px;" class="form-group row">
                <input class="" type="radio" (change)="onCheckChangeDate($event)" name="flexRadioDefault" id="flexRadioDefault1">
                <label style="margin-top: 15px;" for="staticEmail" class="col-sm-2 col-form-label">By Date</label>
              
                <div class="row">
                  <div class="col-6">
                    <div class="mr-1">
                      <label for="">Start Date:</label>
                      <dx-date-box
                          [disabled]="disableDate"
                          formControlName="startDate"
                          [value]=""
                          [max]="today"
                          type="date">
                      </dx-date-box>
                  </div>
                  </div>
  
                  <div class="col-6">
                    <div class="mr-1">
                      <label for="">End Date:</label>
                      <dx-date-box
                          [disabled]="disableDate"
                          formControlName="endDate"
                          [value]=""
                          [max]="today"
                          type="date">
                      </dx-date-box>
                  </div>
                  </div>
                </div>

              </div>

              <div style="margin-left: 4px;" class="form-group row">
                <input class="" type="radio" (change)="onCheckChangeMonthYear($event)" name="flexRadioDefault" id="flexRadioDefault1">
                <label style="margin-top: 6px;" for="staticEmail" class="col-sm-2 col-form-label">By Month Year</label>
              
                <div class="row">
                  <div class="col-6">
                    <div class="mr-1">
                     
                     
                      <dx-select-box
                      id="scope"
                      [disabled]="disableMonthYear"
                      valueExpr="value"
                      displayExpr="name"
                      formControlName="month"
                      [dataSource]="month"
                      placeholder="Choose">
                    </dx-select-box>
                        
                     
                  </div>
                  </div>

                  <div class="col-6">
                    <div class="mr-1">
                     
                      <dx-text-box id="" formControlName="year" [disabled]="disableMonthYear" placeholder="Year"></dx-text-box>
                  </div>
                  </div>
  
                
                </div>

              </div>

              <div style="margin-left: 4px;" class="form-group row">
                <input class="" type="radio" (change)="onCheckChangeQota($event)" name="flexRadioDefault" id="flexRadioDefault1">
                <label for="staticEmail" class="col-sm-2 col-form-label">By Quarter</label>
              
                <div class="row">
                  <div class="col-3">
                    <div class="mr-1">
                      
                      <dx-select-box
                      id="scope"
                      valueExpr="name"
                      [disabled]="disableQota"
                      displayExpr="name"
                      formControlName="qota"
                      [dataSource]="qotaList"
                      placeholder="Quarter">
                    </dx-select-box>
                  </div>
                  </div>

                  <div class="col-3">
                    <div class="mr-1">
                     
                      <dx-text-box id=""  placeholder="Year" [disabled]="disableQota"  (onValueChanged)="getFiscalYear($event)" ></dx-text-box>
                  </div>
                  </div>
  
                  <div class="col-3">
                    <div class="mr-1">
                     
                      <dx-text-box id="" formControlName="fiscalyear" placeholder="Fiscal Year" [(ngModel)]="year" (onValueChanged)="getFiscalYear($event)" [disabled]="true"></dx-text-box>
                  </div>
                  </div>
                </div>

              </div>

              <div style="margin-left: 20px;" class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label"></label>
              
                <div class="row">
                  <div class="col-6">
                    <div class="mr-1">
                      <dx-button
                      id="action"
                      text="Fetch Records"
                      type="default"
                      [useSubmitBehavior]="false"
                      (click)="getData()">
                      </dx-button>
                  </div>
                  </div>
  
                
                </div>

              </div>


             
            </form>
<!--               
              <div class="d-flex justify-content-center">

           

               
                <div class="mr-1">
                  <label for="">Start Date:</label>
                  <dx-date-box
                      formControlName="startDate"
                      [value]="today"
                      [max]="today"
                      type="date">
                  </dx-date-box>
              </div>
              <div class="mr-1">
                <label for="">End Date:</label>
                <dx-date-box
                    formControlName="endDate"
                    [value]="today"
                    [max]="today"
                    type="date">
                </dx-date-box>
            </div>
               
            

                <div class="col-12 col-md-3 mt-2" style="padding-top: 20px;">
               
               
                    <dx-button
                    id="action"
                    text="Fetch Records"
                    type="default"
                    [useSubmitBehavior]="false"
                    (click)="getData()">
                    </dx-button>
                  </div>
              </div> -->
           
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col">
    <div class="card card_border">
      <div class="card-body card-nopadding">
        <dx-data-grid
        class="div-nopadding gridContainer"
        [dataSource]="registrationPerformanceDataSource"
        [showBorders]="true"
        [focusedRowEnabled]="false"
        [columnAutoWidth]="true"
        height="funcpopHeigt(datagridHeight)"
        [showRowLines]="false"
        [rowAlternationEnabled]="true"
        [allowColumnResizing]="true"
        [columnHidingEnabled]="false"
        [repaintChangesOnly]="true">
  
        <dxo-search-panel [visible]="true"> </dxo-search-panel>
  
        <dxo-paging [pageSize]="pageSize" [enabled]="false"></dxo-paging>
  
        <dxo-scrolling  mode="virtual" rowRenderingMode="virtual"></dxo-scrolling>
  
        <dxo-pager [showPageSizeSelector]="true" [showInfo]="true" [allowedPageSizes]="allowedPageSises"></dxo-pager>
  
        <dxo-filter-row [visible]="false"></dxo-filter-row>
  
        <dxo-export [enabled]="true" [fileName]="" [allowExportSelectedData]="true"></dxo-export>
  
        <dxo-selection mode="single"></dxo-selection>
  
        <dxo-header-filter [visible]="true"></dxo-header-filter>
  
        <dxo-filter-panel [visible]="true"></dxo-filter-panel>
  
        <dxo-load-panel
        [enabled]="true">
       </dxo-load-panel>
      </dx-data-grid>
      </div>
    </div>
  </div>