
.space{
  display: flex;
  justify-content: space-between;
  // border: 1px dotted #4d88bb;
  padding: 1rem 0;
}
.btn_control_block{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
.logo__block{
/* border-bottom: 1px dotted #4d88bb; */
border-bottom: 1px dotted rgb(0 172 238);
}
.logo__block p, .footer, p {
  /* color: #4d88bb; */
  color: rgb(0 172 238);
}
.invoice__head__child_contacts table tbody tr td{
/* text-decoration: underline; */
font-style: italic;
}
.invoice{
  background-color: rgba(0, 0, 0, 0.055);
  padding: 2rem;
  width: fit-content;
  height: 100%;
}
.invoice__head,
.invoice__how_to_pay{
  display: flex;
  justify-content: space-between;
}
.invoice__body{
  display: flex;
  /* justify-content: center; */
}
.invoice__body table tr th{
  background: rgb(0 172 238);
  color:white;
  text-align:left;
  vertical-align:center;
}
.invoice__body table tr {
  background-color: rgba(136 ,136 ,136, .1);
  border: 1px solid #ddd;
  padding: .35em;
}
.logo__block, .footer{
    text-align: center;
}
.full_table{
  width: 100%;
}

/* .watermark {
position:fixed;
font-size: 88px;
bottom: 0;
opacity:0.5;
z-index:99;
color: #35313126;
text-align: center;
} */
table tbody tr td{
padding: .5rem;
}

@media (max-width: 576px) {
  .btn_control_block{
    display: flex;
    flex-direction: row;
  }
 }

@media print {

@page {
  size: A4;
  margin: 0mm;
}

html, body {
  width: 1024px;
}

body {
  margin: 0 auto;
  line-height: 1em;
  word-spacing:2px;
  letter-spacing:0.2px;
  /* font: 14px "Times New Roman", Times, serif; */
  font-size: 17px;
  background:rgba(0, 0, 0, 0.055);
  color:black;
  width: 100%;
  float: none;
}
.invoice__body table tr th{
  padding: 5px;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.invoice{
  background-color: transparent;
}

/* avoid page-breaks inside a listingContainer*/
.listingContainer{
  page-break-inside: avoid;
}
h1 {
    font: 28px "Times New Roman", Times, serif;
  }

  h2 {
    font: 24px "Times New Roman", Times, serif;
  }

  h3 {
    font: 20px "Times New Roman", Times, serif;
  }

  /* Improve colour contrast of links */
  a:link, a:visited {
    color: #781351
  }

  /* URL */
  a:link, a:visited {
    background: transparent;
    color:#333;
    text-decoration:none;
  }

  a[href]:after {
    content: "" !important;
  }
  a[href^="http://"] {
    color:#000;
  }

  #header {
    height:75px;
    font-size: 24pt;
    color:black
  }
}
