$base-accent: #ddd;
$base-text-color: #333;
$base-bg: #fff;
$base-border-color: #ddd;
$base-border-radius: 4px;

$card-header-color: #cbddf3;
$card-border-color: #99bce8;
$button-color: #1c457a;
$card-text-color: #1d477d;
$menu-icon-color: #f5f5f5;
$dx-datagrid-header-panel-dx-toolbar-background-color: #d3e1f1;
