<div class="content-block row">
  <div class="col">
    <div class="card card_border">
      <div class="card-header card_header_background">
        {{ title }}
      </div>
      <div class="card-body card-nopadding">

        <form [formGroup]="searchFieldsForm">

          <div class="row p-3">
            <div class="col-12 col-md-3">
            <label for="date">Date</label>
            <!-- <dx-date-box id="date" formControlName="date" [value]="now" [max]="now" type="date"> </dx-date-box> -->
            <dx-text-box id="date" formControlName="date" placeholder="Date format (yyyy-MM-dd) eg. 2022-02-09">
            </dx-text-box>
          </div>

            <div class="col-12 col-md-3">
              <label for="scope">Scope</label>
              <dx-select-box
              id="scope"
              valueExpr="id"
              displayExpr="name"
              formControlName="scope"
              [dataSource]="scopeDatasource"
              placeholder="Choose Scope">
            </dx-select-box>
            </div>

            <div class="col-12 col-md-3">
              <label for="employerNo">Employer Number</label>
              <dx-text-box id="employerNo" formControlName="employerNo" placeholder="Enter employer number">
              </dx-text-box>
            </div>
            <div class="col-12 col-md-3">
              <label for="memberNo">Member Number</label>
              <dx-text-box id="memberNo" formControlName="memberNo" placeholder="Enter Member number">
              </dx-text-box>
            </div>
          </div>

          <div class="row p-3">
            <div class="col-12 col-md-3">
            <label for="systemId">System Id</label>
            <dx-text-box id="systemId" formControlName="systemId" placeholder="Enter system Id">
            </dx-text-box>
            </div>

            <div class="col-12 col-md-3">
              <label for="invoiceNo">Invoice Number</label>
              <dx-text-box id="invoiceNo" formControlName="invoiceNo" placeholder="Enter invoice No">
              </dx-text-box>
            </div>

            <div class="col-12 col-md-3">
              <label for="controlNo">Control Number</label>
              <dx-text-box id="controlNo" formControlName="controlNo" placeholder="Enter control number">
              </dx-text-box>
            </div>

            <div class="col-12 col-md-3">
              <div>Action</div>
              <div>&nbsp;</div>
              <dx-button
              id="action"
              text="Search Record"
              type="default"
              [useSubmitBehavior]="false"
              (click)="onSearchRecordHandler()">
              </dx-button>
            </div>
          </div>
        </form>

        <div>
          <dx-data-grid
          id="gridContainer"
          keyExpr="id"
          [dataSource]="billListDatasource"
          [showBorders]="false"
          [focusedRowEnabled]="false"
          [columnAutoWidth]="true"
          [showRowLines]="true"
          [allowColumnResizing]="true"
          [columnHidingEnabled]="false">
          <dxo-search-panel [visible]="true"> </dxo-search-panel>
          <dxo-paging [enabled]="false"></dxo-paging>
          <dxo-filter-row [visible]="false"></dxo-filter-row>
          <dxo-export [enabled]="true" fileName="Members List" [allowExportSelectedData]="true">
          </dxo-export>
          <dxo-selection mode="single"></dxo-selection>
          <dxo-header-filter [visible]="false"></dxo-header-filter>
          <dxo-filter-panel [visible]="false"></dxo-filter-panel>
          <!-- <dxo-scrolling mode="virtual" columnRenderingMode="virtual"></dxo-scrolling> -->

          <dxi-column dataField="invoiceNo" caption="Invoice Number"></dxi-column>
          <dxi-column dataField="creationDate" caption="Invoice Created At" dataType="date" format="yyyy-MM-dd HH:mm:ss a"></dxi-column>
          <dxi-column dataField="customerNo" caption="Customer Number"></dxi-column>
          <dxi-column dataField="controlNo" caption="Control Number"></dxi-column>
          <dxi-column dataField="clearanceDate" caption="Payment Date"  dataType="date" format="yyyy-MM-dd HH:mm:ss a"></dxi-column>
          <dxi-column dataField="psp" caption="PSP"></dxi-column>
          <dxi-column dataField="navReceipt"></dxi-column>


          <dxi-column dataField="billAmount" caption="Bill Amount" dataType="number">
            <dxo-format type="fixedPoint" [precision]="2"> </dxo-format>
          </dxi-column>


          <dxi-column dataField="amountDue" caption="Amount Due" dataType="number">
            <dxo-format type="fixedPoint" [precision]="2"> </dxo-format>
          </dxi-column>

          <dxi-column dataField="amountPaid" caption="Amount Paid" dataType="number">
            <dxo-format type="fixedPoint" [precision]="2"> </dxo-format>
          </dxi-column>

          <!-- <dxi-column dataField="CURRENCY" caption="Currency"></dxi-column> -->
          <dxi-column dataField="payerName"></dxi-column>

          <dxi-column
            dataField="cleared"
            caption="Payment Status"
            dataType="string"
            cellTemplate="cellTemplateIsPayed">
            <div *dxTemplate="let d of 'cellTemplateIsPayed'">
              <div *ngIf="d.data.cleared == 0" class="text-center">
                <span class="text-white bg-danger rounded pl-2 pr-2">Waiting for payment</span>
              </div>
              <div *ngIf="d.data.cleared == 1" class="text-center">
                <span class="text-white bg-success rounded pl-2 pr-2">Invoice paid</span>
              </div>
            </div>
          </dxi-column>

        <dxi-column
          caption="Print Action"
          dataType="string"
          cellTemplate="cellTemplateReceipt">
          <div *dxTemplate="let d of 'cellTemplateReceipt'">
            <div *ngIf="d.data.cleared == 1" class="text-center">
              <button type="button" name="" id="" class="btn btn-success" (click)="printPaymentReceipt(d.data)"><i class="fa fa-print" aria-hidden="true"></i> Receipt</button>
              <button *ngIf="!hidePrintMembers" type="button" name="" id="" class="btn btn-primary ml-3" (click)="getMembersList(d.data, 1)"><i class="fa fa-users" aria-hidden="true"></i> Members</button>
              <!-- <button type="button" name="" id="" class="btn btn-danger ml-3" (click)="deleteInvoice(d.data)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete Invoice</button> -->
            </div>

            <div *ngIf="d.data.cleared == 0" class="text-center">
              <button type="button" name="" id="" class="btn btn-secondary" (click)="printBillInvoice(d.data)"><i class="fa fa-print" aria-hidden="true"></i> Order Form</button>
              <button *ngIf="!hidePrintMembers" type="button" name="" id="" class="btn btn-primary ml-3" (click)="getMembersList(d.data, 0)"><i class="fa fa-users" aria-hidden="true"></i> Members</button>
              <!-- <button type="button" name="" id="" class="btn btn-danger ml-3" (click)="deleteInvoice(d.data)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete Invoice</button> -->
            </div>
          </div>
        </dxi-column>
        <!-- SUMMARY -->

        <dxo-summary [recalculateWhileEditing]="true">
          <dxi-total-item
              column="invoiceNo"
              summaryType="count"
              valueFormat="fixedPoint">
          </dxi-total-item>

          <dxi-total-item
          column="amount"
          summaryType="sum"
          valueFormat="fixedPoint"
          precision="2">
      </dxi-total-item>


      </dxo-summary>

        </dx-data-grid>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- style="display: none;" -->
<div id="print-container2" class="invoice_wrapper" style="display: none;">
  <div class="app">
    <!-- <img src="./assets/images/zssf.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|} cover" alt=""> -->

    <div class="container p-3">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-xs-12">
                <img src="./assets/images/zssf.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="ZSSF logo">
            </div>
            <div class="col-xl-10 col-lg-10 col-md-9 col-sm-8 col-xs-12">
                <div class="p-3">
                    <h1 class="text-center">ZANZIBAR SOCIAL SECURITY FUND</h1>
                    <p class="text-center">
                        <span>
                        Headquarters P.O.Box 2716, ZSSF Building, Kilimani, Mnara wa Mbao, Unguja Zanzibar
                        </span>
                    <span>
                        Tel +255 24 2230242, Fax +255 24 223 2820, Email: info@zssf.or.tz Website: www.zssf.or.tz
                            </span>
                    <span>
                        <strong>Pemba Branch:</strong> P.O.Box 293, Tibirinzi, Chake Chake Pemba Zanzibar
                            </span>
                    <span>
                        Tel: +255 24 2452050, Fax: +255 24 2452132
                            </span>
                    </p>
                </div>
            </div>
            <div class="col-xl-10 col-lg-10 col-md-9 col-sm-8 col-xs-12">
              <img src="./assets/images/received.png" class="paid img-fluid" alt="Received logo" />
            </div>
        </div>
        <div class="row pb-2">
          <div class="container">
            <div class="">
              <div class="d-flex justify-content-start">
                <label class="recieved-from">
                    <strong>RECEIVED FROM:  </strong>
                </label>
                <span><i>{{employerName}}</i></span>
            </div>
            <div  class="d-flex justify-content-end">
              <div class="flex-column">
                <div>No:
                  <label class="font-weight-bold">{{navReceipt}}</label>
              </div>
                <div>Invoice Number:
                  <label class="font-weight-bold">{{invoiceNumber}}</label>
              </div>
              <!-- MMMM d, y, h:mm:ss a z -->
              <div>Date of Payment:
                  <label class="font-weight-bold">{{clearanceDate | date:'MMMM d, y.'}}</label>
              </div>
              </div>
            </div>
            </div>
          </div>
        </div>
        <div class="row pb-4">
          <div class="container">
            <label class="respect">
              <strong>IN RESPECT OF:</strong>
          </label>
          <span>
              <i>{{description}}</i>
          </span>
          </div>
        </div>
        <div class="row mb-4">
          <div class="container">
            <table border="1" class="full_table">
              <thead>
                  <tr>
                      <td><strong>Employer No.</strong></td>
                      <td><strong>Control Number</strong></td>
                      <td><strong>Payment Option</strong></td>
                      <td><strong>Currency</strong></td>
                      <td><strong>Amount</strong></td>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>{{employerNumber}}</td>
                      <td>{{controlNumber}}</td>
                      <td>{{paymentOpt}}</td>
                      <td>{{currency}}</td>
                      <td>{{amount | currency:'USD':''}}</td>
                  </tr>
              </tbody>
          </table>
          </div>
        </div>
        <div class="row pb-3">
            <label class="amount-words">
                <strong>AMOUNT IN WORDS:</strong>
            </label>
            <span>
                   ****{{amountInWorlds}}****
            </span>
        </div>
        <div class="row justify-content-between mt-5">
            <div class="stamp">
                <!-- <span><input type="text" class="reciever-name"></span> -->
                <span>Received with thanks</span>
                <span><i>For: Zanzibar Social Security Fund</i></span>
                <!-- <span>
                    <strong><i>This reciept is only valid if it has ZSSF Stamp</i></strong>
                </span> -->
            </div>
            <div class="">
              <span class="font-weight-bold" style="color: #489463;">{{receiptNumber}}</span>
                <!-- <input type="text" class="form-control" [value]="receiptNumber"> -->
            </div>
        </div>
</div>
</div>
</div>


<div id="print-container3" class="invoice_wrapper" style="display: none;">
  <div class="invoice">
    <div class="logo__block">
      <img src="./assets/images/zssf.png" alt="zssf logo" style="width: 70px; height: 70px;" />
      <p>Zanzibar Social Security Fund</p>
      <p>Order Form</p>
    </div>
    <div class="invoice__head row">
      <div class="invoice__head__child col-12 col-md-6">
        <table class="table table-responsive">
          <tbody>
            <tr>
              <td>Control Number: </td>
              <td><strong>{{controlNumber}}</strong> </td>
            </tr>
            <tr>
              <td>Total Amount: </td>
              <td><strong>{{totalAmountContributed | currency:'USD':'' }} {{invoiceCurrency}}</strong></td>
            </tr>
            <tr>
              <td>Date:</td>
              <td><strong>{{invoiceDate | date: "yyyy - MM -d h:mm:ss a"}}</strong></td>
            </tr>
            <tr *ngIf="!hideViewControls">
              <td>Employer Number: </td>
              <td><strong>{{employerNumber}}</strong></td>
            </tr>

            <tr *ngIf="hideViewControls">
              <td>Individual Contributor Number: </td>
              <td><strong>{{employerNumber}}</strong></td>
            </tr>

            <tr *ngIf="!hideViewControls">
              <td>Employer Name: </td>
              <td><strong>{{employerName}}</strong></td>
            </tr>

            <tr *ngIf="hideViewControls">
              <td>Individual Contributor Name: </td>
              <td><strong>{{employerName}}</strong></td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="invoice__head__child_contacts col-12 col-md-6 text-right">
        <div *ngIf="!hideQrCode">
          <!-- place the actual qr code here -->
          <qrcode [level]="1" [qrvalue]="qrCodeString"></qrcode>
        </div>
      </div>
    </div>
    <p
      style="text-align: center; border-bottom: 1px dotted #4d88bb; border-top: 1px dotted #4d88bb; padding: .5rem;">
      Bill Details</p>
      <div class="divide">
        <div class="invoice__body">
          <table class="full_table table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Currency</th>
                <th style="text-align: end;">Amount</th>
              </tr>
            </thead>
            <tbody>

              <!-- individualBillDescription -->
              <!-- hideViewControls -->
              <tr *ngFor="let item of invoiceBillItems">
                <td>{{item.ID}}</td>
                <td *ngIf = "!hideViewControls">{{item.DESCRIPTION}}</td>
                <td *ngIf = "hideViewControls">{{individualBillDescription}}</td>
                <td>{{invoiceCurrency}}</td>
                <td>
                  <p style="text-align: end; color: #000;">
                    {{item.AMOUNT | currency:'USD':''}}
                  </p>
                </td>
              </tr>
              <tr *ngIf="isPenaltyInvoice">
                <td>{{ID}}</td>
                <td>{{DESCRIPTION}}</td>
                <td>{{CURRENCY}}</td>
                <td>
                  <p style="text-align: end; color: #000;">
                    {{AMOUNT | currency:'USD':''}}
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- HOW TO PAY INSTRUCTIONS -->
        <div class="invoice__how_to_pay row">
          <div class="col-12 col-md-6">
            <hr>
            <table class="table table-responsive">
              <tbody>
                <tr>
                  <td colspan="2">Jinsi ya Kulipa</td>
                </tr>
                <tr>
                  <td colspan="2">1. Kupitia Benki: Fika tawi lolote
                    au wakala wa benki ya {{payableBanks}}. Namba ya kumbukumbu: <strong>{{controlNumber}}</strong>
                  </td>
                  <td colspan="2">NB: Kupitia Benki CRDB: Fika tawi lolote
                    ,wakala wa benki ya CRDB au kutumia Simbanking (USSD & Mobile App) . Namba ya kumbukumbu: <strong>ZS{{controlNumber}}</strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-12 col-md-6">
            <hr>
            <table class="table table-responsive">
              <tbody>
                <tr>
                  <td colspan="2">How to Pay</td>
                </tr>
                <tr>
                  <td colspan="2">Via Bank: Visit any branch or bank agent of {{payableBanks}}.
                    Reference Number: <strong>{{controlNumber}}</strong>
                  </td>
                  <td colspan="2">NB: Through CRDB Bank: Visit at any branch
                    ,CRDB banking agent or using Simbanking (USSD & Mobile App). Reference number: <strong>ZS{{controlNumber}}</strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <hr>
    <p class="footer">Zanzibar Social Security Find &copy; {{currentYear}} All Rights Reserved (ZSSF)</p>
  </div>
</div>

<!-- FOR PRINTING LIST OF MEMBER -->
<div *ngIf="true">
  <div id="print-container4" style="display: none" class="invoice_wrapper">
    <div class="invoice">
      <div class="logo__block">
        <img src="./assets/images/zssf.png" alt="zssf logo" style="width: 70px; height: 70px;" />
        <p>Zanzibar Social Security Fund</p>
        <p>List of Members Contributed</p>
      </div>
      <div class="invoice__body" style="border: none;">
          <table class="table full_table">
            <thead>
              <tr>
                <th>Employer Number</th>
                <th>Employer Name</th>
                <th>Printed On</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>{{employerNumber}}</strong></td>
                <td><strong>{{employerName | titlecase}}</strong></td>
                <td><strong>{{now | date: "yyyy - MM -d h:mm:ss a"}}</strong></td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="row mb-4">
        <div class="container">
          <table border="1" class="full_table">
            <thead>
                <tr>
                    <td><strong>Control Number</strong></td>
                    <td><strong>Payment Option</strong></td>
                    <td><strong>Currency Code</strong></td>
                    <td><strong>Amount</strong></td>
                    <td><strong>Date of Payment</strong></td>
                    <td><strong>Receipt</strong></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!-- <td>{{employerNumber}}</td> -->
                    <td>{{controlNumber}}</td>
                    <td>{{paymentOpt}}</td>
                    <td>{{currency}}</td>
                    <td>{{amount | currency:'USD':''}}</td>
                    <td>{{clearanceDate | date: "yyyy - MM -d h:mm:ss a"}}</td>
                    <td>{{navReceipt}}</td>
                </tr>
            </tbody>
        </table>
        </div>
      </div>
      <div class="invoice__body">
        <table class="full_table table">
          <thead>
            <tr>
              <th>S/N</th>
              <th>Member Number</th>
              <th>Member Names</th>
              <th style="text-align: end;">Member Salary</th>
              <th>Year</th>
              <th>Month</th>
              <th style="text-align: end;">Amount</th>
              <th>Currency</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of contributedMembers">
              <td>{{item.counter}}</td>
              <td>{{item.memberNumber}}</td>
              <td>{{item.memberNames | titlecase }}</td>
              <td>
                <p style="text-align: end; color: #000;">
                  {{item.memberSalary | currency:'USD':''}}
                </p>
              </td>
              <td>
                <p style="text-align: end; color: #000;">
                  {{item.contributionYear }}
                </p>
              </td>
              <td>
                <p style="text-align: end; color: #000;">
                  {{item.contributionMonth }}
                </p>
              </td>
              <td>
                <p style="text-align: end; color: #000;">
                  {{item.amountContributed | currency:'USD':''}}
                </p>
              </td>
              <td><p style="text-align: center; color: #000;">TZS</p></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <hr> -->
      <!-- <p class="footer">Zanzibar Social Security Find &copy; {{currentYear}} All Rights Reserved (ZSSF)</p> -->
    </div>
  </div>
</div>


<div *ngIf="true">
  <div id="print-container5" style="display: none" class="invoice_wrapper">
    <div class="invoice">
      <div class="logo__block">
        <img src="./assets/images/zssf.png" alt="zssf logo" style="width: 70px; height: 70px;" />
        <p>Zanzibar Social Security Fund</p>
        <p>List of Members Contributed</p>
      </div>
      <div class="invoice__body" style="border: none;">
          <table class="table full_table">
            <thead>
              <tr>
                <th>Employer Number</th>
                <th>Employer Name</th>
                <th>Printed On</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>{{employerNumber}}</strong></td>
                <td><strong>{{employerName | titlecase}}</strong></td>
                <td><strong>{{now | date: "yyyy - MM -d h:mm:ss a"}}</strong></td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="invoice__body">
        <table class="full_table table">
          <thead>
            <tr>
              <th>S/N</th>
              <th>Member Number</th>
              <th>Member Names</th>
              <th style="text-align: end;">Member Salary</th>
              <th>Year</th>
              <th>Month</th>
              <th style="text-align: end;">Amount</th>
              <th>Currency</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of contributedMembers">
              <td>{{item.counter}}</td>
              <td>{{item.memberNumber}}</td>
              <td>{{item.memberNames | titlecase }}</td>
              <td>
                <p style="text-align: end; color: #000;">
                  {{item.memberSalary | currency:'USD':''}}
                </p>
              </td>
              <td>
                <p style="text-align: end; color: #000;">
                  {{item.contributionYear }}
                </p>
              </td>
              <td>
                <p style="text-align: end; color: #000;">
                  {{item.contributionMonth }}
                </p>
              </td>
              <td>
                <p style="text-align: end; color: #000;">
                  {{item.amountContributed | currency:'USD':''}}
                </p>
              </td>
              <td><p style="text-align: center; color: #000;">TZS</p></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <hr> -->
      <!-- <p class="footer">Zanzibar Social Security Find &copy; {{currentYear}} All Rights Reserved (ZSSF)</p> -->
    </div>
  </div>
</div>

