<div class="content-block row">
    <div class="col">
      <div class="card card_border">
        <div class="card-header card_header_background">
          MEMBERS LIST
        </div>
        <div class="card-body card-nopadding">
  
          <form [formGroup]="filterMemberForm">
  
          
  
            <div class="row p-3">

                <div class="col-12 col-md-3">
                    <label for="controlNo">Employer Number</label>
                    <dx-text-box id="controlNo" formControlName="empNo" placeholder="Enter employer number">
                    </dx-text-box>
                  </div>
             


              
              <div class="col-12 col-md-3">
                <label for="controlNo">Employer Name</label>
                <dx-text-box id="controlNo" formControlName="empName" placeholder="Enter employer name">
                </dx-text-box>
              </div>


              <div class="col-12 col-md-3">
                <label for="controlNo">Acronomy</label>
                <dx-text-box id="controlNo" formControlName="acronomy" placeholder="Enter acronomy">
                </dx-text-box>
              </div>

              <div class="col-12 col-md-3">
                <label for="controlNo">Alternate Name</label>
                <dx-text-box id="controlNo" formControlName="altname" placeholder="Enter alternate name">
                </dx-text-box>
              </div>

             
                   
  
              <div class="col-12 col-md-3 mt-2" style="padding-top: 15px;">
               
               
                <dx-button
                id="action"
                text="Search"
                type="default"
                [useSubmitBehavior]="false"
                (click)="filterMember()">
                </dx-button>
              </div>
            </div>
          </form>
  
          <div>
          
          </div>
  
        </div>
      </div>
    </div>
  </div>

<div class="headerWrapper">
  
   
  
  </div>
  <div class="row content-block">
    <div class="col">
      <div class="card card_border">
        <div class="card-header card_header_background">
         
        </div>
        <div class="card-body card-nopadding">
          <dx-data-grid
          [dataSource]="memberList"
          keyExpr="MemberID"
          [showBorders]="true"
          [focusedRowEnabled]="true"
          [showRowLines] = "true"
          [allowColumnResizing]="true"
          [columnHidingEnabled]="false"
          [columnAutoWidth]="true"
         
          height="funcpopHeigt(datagridHeight)">
          <dxo-load-panel
          [enabled]="false">
         </dxo-load-panel>
          <dxo-export [enabled]="true" fileName="Employer-member" [allowExportSelectedData]="true"></dxo-export>
          <dxo-paging [pageSize]="pageSize"></dxo-paging>
          <dxo-load-panel [enabled]="true"></dxo-load-panel>
          <dxo-pager
          [showPageSizeSelector]="true"
          [allowedPageSizes]="allowedPageSises"
      ></dxo-pager>
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxo-filter-row [visible]="false"></dxo-filter-row>
  
          
  
    
      </dx-data-grid>
  
        </div>
      </div>
    </div>
  </div>