

/* You can add global styles to this file, and also import other style files */
.toast-container {
    position: absolute;
    z-index: 1600 !important;
    max-width: 100%;
    pointer-events: none;
  
  
  }
  